@import "../../styles/colors";

@import "../../styles/colors";

.productsPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0px;
  outline: none;
  height: 30px;
  border-radius: 16px;
}

.categorySelect {
  padding: 0.5rem;
  font-size: 1rem;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

@media (min-width: 1024px) {
  .productsList {
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.productCount {
  display: flex;
  justify-content: center;
}

.addToCartButton {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 20px;
}

.sortSelect {
  width: 160px;
  height: 39px;
}
